[Desktop Entry]
Encoding=UTF-8
Name=rogaverse
Comment=rogaverse P2P Cryptocurrency
Comment[fr]=rogaverse, monnaie virtuelle cryptographique pair à pair
Comment[tr]=rogaverse, eşten eşe kriptografik sanal para birimi
Exec=rogaverse-qt %u
Terminal=false
Type=Application
Icon=rogaverse128
MimeType=x-scheme-handler/rogaverse;
Categories=Office;Finance;
